# Compiled class file
*.class

# Log file
*.log
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Intellij
out
target
.idea
*.iml

# Authentication
*.token

# MacOS
.DS_Store

# Other
.classpath
.cache
.metadata
.settings
.project
.java-version

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
